#currentTime{
    font-size: 150px;
    width: 1000px;
    height: 200px;
    margin: 200px;
    color: white;
    text-align: center;
    border: 2px solid black;
    background-color: black;
    box-shadow: 0px 7px 6px black;
    box-shadow: 0px 7px 6px rgba(33, 30, 30, 0.701),
                 -0px -4px 5px rgba(71, 71, 71, 0.21);
}
